<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des livres</title>
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <link rel="stylesheet" th:href="@{/css/cards.css}">
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div id="all">
        <div id="search">
            <form action="/livres/search" method="get">
                <input type="text" name="query" placeholder="Rechercher un livre...">
                <button type="submit">Rechercher</button>
            </form>
        </div>
        <h2>Résultats de la recherche :</h2>
        <div th:if="${#lists.isEmpty(livres)}">
            <p>Aucun livre trouvé pour la recherche.</p>
        </div>
        <div class="card-livre" th:else th:each="livre : ${livres}">
            <p th:text="${livre.titre}"></p>
            <p th:text="${livre.auteur}"></p>
            <p th:text="${livre.dateParution}"></p>
            <p th:text="${livre.synopsis}"></p>
            <p th:text="${livre.isbn}"></p>
        </div>
    </div>
</body>
</html>